/* ---------------------------------
 *              自定义
 * --------------------------------- */

.thumbnail
    float: right;
    width: 135px;
    height: 76px;
    margin: 0 0 5px 5px;

.excerpt
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;


span.article-type.type-1 {
    color: #fc5531;
    background-color: #fff5f2;
}
span.article-type {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 34px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
    vertical-align: 1px;
}

span.article-type.type-2 {
    color: #67bb55;
    background-color: rgba(103, 187, 85, 0.1);
}

    
